<h1>Hello,</h1>
<p>
    We sent you this to notify that your submission have been received. We will reach you back if your application is retained.
</p>
<h2>Thanks for your interest!</h2>

<small>This is an automatic email from: {{enterprise_name}}</small>