<h1>Dear Candidate,</h1>
<p>
    This message is to acknowledge receipt of your resume.
    We greatly appreciate your interest in the position.
    Your resume will be considered for our current and future opportunities.
</p>
<h2>Thank you.</h2>

<small>
    Please note that this is an automated message from: {{enterprise_name}}, please do not reply to this email.
</small>
