{% extends 'layouts/base.html.twig' %}

{% block title 'Welcome to '~ enterprise_name %}

{% block body %}
    <div class="my-5 text-center jopi__title">
        <h1>Welcome to <span>{{enterprise_name}}</span> application job board's.</h1>
        <p class="my-3 h3"><a href="{{path('app_application')}}">Apply here</a></p>
    </div>
{% endblock %}